<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-pick-network" version="1.0.0">

    <name>Pick Network</name>
    <description>Cordova plugin for Pick Network</description>
    <license>Apache 2.0</license>
    <keywords>cordova,pick-network</keywords>
    
    <repo>https://bitbucket.org/orangekloud/cordova-plugin-pick-network</repo>

    <!-- javascript interface -->
    <js-module src="www/PickNetwork.js" name="PickNetwork">
        <clobbers target="pickNetwork" />
    </js-module>

     <!-- android -->
    <platform name="android">
        <!-- feature -->
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- plugin -->
            <feature name="PickNetwork">
                <param name="android-package" value="com.orangekloud.plugins.pick_network.PickNetwork"/>
            </feature>

            <!-- enable androidx -->
            <preference name="AndroidXEnabled" value="true" />
        </config-file>

        <!-- permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

        <!-- source files -->
        <source-file src="src/android/PickNetwork.java" target-dir="src/com/orangekloud/plugins/pick_network" />

        <!-- library files -->
        <lib-file src="src/android/files/blebox-release.aar"/>

        <!-- additonal gradle -->
        <framework src="src/android/files/pick-network.gradle" custom="true" type="gradleReference"/>
    </platform>

    <!-- frameworks supported -->
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0" />
        <engine name="cordova-ios" version=">=6.1.1" />
    </engines>

</plugin>